.select-title {
  width: 100px;
  margin: 10px;
}
[data-theme="compact"] .select-title {
  width: 80px;
}

.title_text {
  font-size: 16px;
}
.label_bath {
  margin-bottom: 5px;
  margin-left: 10px;
  align-self: center;
}
.important {
  color: red;
  font-size: 16px;
}

.boxline1 {
  margin-left: 20px;
}
